@charset "utf-8";

html {
    background-color: cadetblue;
    color: #d5f9ff;
    font-family: Verdana;
    text-align: center;
}

body {
    background-color: #216e70;
    padding-bottom: 1em;
    min-height: 93vh;
    margin: auto;
}

span.finish {
    color: white;
    font-weight: bolder;
    font-size: 1.4em;
}

h1 {
    padding-top: 0.5em;
    text-align: center;
}

h4 {
    padding-top: 2.25em;
    padding-bottom: 1.75em;
    font-size: 1.2em;
    width: 90%;
    margin: auto;
}

img {
    border: 0.25em solid #1b4647;
    margin-bottom: 1em;
}
table {
    margin: auto;
    border: 0.2em solid #134749;
    background-color: #d5f9ff;
    color: #216e70;
    width: 100%;
    table-layout: fixed;
    min-height: 250px;
}

td {
    border: 0.15em solid #134749;
    background-color: white;
}
td input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

input[type="button"] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #098784;
    color: white;
    width: 15%;
    height: 2.5em;
    font-size: large;
    font-family: Verdana;
    border: 0.2em solid #134749;
}

input[type="button"]:hover {
    border: 0.2em solid #0e292a;
    background-color: #16706e;
    color: white;
}

a {
    width: 15%;
    margin: auto;
    background-color: #098784;
    color: #d5f9ff;
    padding: 1em 3em 1em 3em;
    font-size: large;
    border: 0.2em solid #134749;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

a:hover {
    font-weight: bolder;
    border: 0.2em solid #0e292a;
    background-color: #16706e;
    color: white;
}

p {
    margin: 1em;
}